.navbar {
  position: fixed;
  display: inline-block;
  color: white;
  font-family: "Lato";
  background: #C00A0A;
  width: 100%;
  height: auto;
  margin-bottom: -5px;
  z-index: 100;
}

.navbar-inner {
  width: calc(100% - 60px);
  max-width: 1140px;
  margin: auto;
}

.logo {
  font-weight: bold;
  float: left;
  padding: 30px;
  font-size: 24px;
}

.quiz-name {
  list-style-type: none;
  display: inline-block;
  padding-left: 270px;
}

.header-right {
  list-style-type: none;
  float: right;
  padding-right: 30px;
  padding-top: 36px;
}

.header-right li {
  font-size: 18px;
  display: inline;
  padding-left: 30px;
}
